*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #476657;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

nav {
    width: 100%;
    margin: 0px;
    display: flex;
    line-height: 70px;
    position: sticky;
    top: 0;
    background: #006e4c;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: solid;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container{
    width: 400px;
    border: 20px solid #ffff9b;
    background-color: rgba(20, 20, 20, .5);
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    display: flex;
    position: relative;
    overflow: hidden;
}
.img-title{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(5,5,5,0), rgba(5,5,5,1));
    top: 200px;
    transition: all .5s ease-in;
    overflow: hidden;
}

.img-title h3{
    text-align: center;
    color: #FFFFFF;
    line-height: 2px;
    position: relative;
    top: 130px;
    text-shadow: 1px 1px rgba(5, 5, 5, .5);
}

.card img {
    transform: scale(1);
    transition: all .3s ease-out;
}
.card:hover img{
    transition: all .3s ease-in;
    transform: scale(1.1);
}

.card:hover .img-title{
    top: 0;
    transition: all .5 ease-out;
}
.explore{
    font-size: 25px;
    margin: 0px;
    text-align: center;
    margin-top: 30px;
}
.deskripsi {
    font-size: 45px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #000000 ;
    margin-top: 0;
}

.deskripsi h1 {
    font-family:Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    width: 100%;
    margin-top: 30px;
    
}

.deskripsi h2 {
    font-family:Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    width: 100%;
}
.deskripsi p{
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 100;
    font-style: normal;
    margin-top: 25px;
}
a.tbl-biru {
    background: #ffff9b;
    border-radius: 20px;
    margin-top: 20px;
    padding: 12px 20px 12px 20px;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
}

.logo a {
    font-size: 50px;
    font-weight: 550;
    float: left;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.menu {
    float: right;
}

.tbl-biru:hover{
    background: #FF3FA4;
    text-decoration: underline;
}

.button {
    background: #ffff9b;
    /* border-radius: 20px; */
    padding: 15px 20px;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    text-align: center;


}
.button:hover {
background:#FF3FA4;
text-decoration: underline;
color: #ffffff;
}

.container_desc {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffc24b;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.place {
    margin: 20px 0;
}
.button_2{
    text-align: center;
}

.active {
    display : block;
}